$font-primary: "IBM Plex Sans", sans-serif;
$bg-color: #fff;
$text-white: #fff;
$black-color: rgba(0,0,0,0.7);
$black-color-1: rgba(0,0,0,0.1);
$text-dark: #b2b2b2;
$gray-1: hsla(215, 19%, 59%, 1);
$gray-2:  #eff2f6;
$gray-5e: #5e6064;
$gray-37: #373a43;
$gray-a6: #a6a7b2;
$toggle-spinner: #a5a6b1;
$gray-natural-1: #F8F8F8;
$primary-color: #6e5fd3;
$sidebar-line: #c2bbcd;
$search-bg: #E5EAF1;
$bg-menu: #F8F8F8;