extends ./views/layouts/_dashboard
block title 
    title GoCast-UI
block custom-css
    //- link(rel="stylesheet", href="./style/home.css")
block main 
    .container
        include ./views/pages/_home.pug