header.header 
    .header__search 
        img(srcSet="../../images/icons/icon-search.svg", alt="serch").header__search-icon
        input(type="text" placeholder="Search 2+ million podcasts and listeners").header__search-input
    .header__right
        button.button.button--primary.header__right-upload 
            img(srcSet="../../images/icons/icon-upload.svg", alt="upload")
            span Upload
        a(href="#").header__right-message
            img(srcSet="../../images/icons/icon-noti.svg", alt="icon")
        a(href="#").header__right-noti
            img(srcSet="../../images/icons/icon-message.svg", alt="icon")
        button.header__right-user 
            img(srcSet="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkOJ5jziCjyEoKHKPEgdp079aoVSd_kgbUsQ&usqp=CAU", alt="avt").header__right-user-img

header.mobile-header       
    .mobile-header__logo    
        img(srcSet="../../images/logo.png", alt="logo")
    .mobile-header__action 
        button.mobile-header__item
            img(src="../../images/icons/icon-search.svg", alt="").mobile-header__item-search
        button.mobile-header__item
            img(src="../../images/icons/icon-message.svg", alt="").mobile-header__item-message 
        button.mobile-header__item
            img(src="../../images/icons/icon-noti.svg", alt="").mobile-header__item-noti 
        button.mobile-header__item
            img(srcSet="../../images/icons/menu-mobile.svg", alt="").mobile-header__item-mobile-btn 
            