aside.sidebar
    button.sidebar__close-btn X
    a.sildebar__logo(href="/")
        img(srcSet="./images/logo.png 2x" alt="gocastUI").sidebar__logo-img
    ul.sidebar__list
        li.sidebar__item
            a.sidebar__item-link(href="#")
                img(srcSet="./images/icons/icon-menu.svg" alt="side-item-logo").sidebar__item-link-img 
                span Home
        li.sidebar__item
            a.sidebar__item-link(href="#")
                img(srcSet="./images/icons/icon-trending.svg" alt="side-item-logo").sidebar__item-link-img 
                span Trending
        li.sidebar__item
            a.sidebar__item-link(href="#")
                img(srcSet="./images/icons/icon-explore.svg" alt="side-item-logo").sidebar__item-link-img 
                span Explore Topis
        li.sidebar__item
            a.sidebar__item-link(href="#")
                img(srcSet="./images/icons/icon-playlist.svg" alt="side-item-logo").sidebar__item-link-img 
                span Playlist
        li.sidebar__item
            a.sidebar__item-link(href="#")
                img(srcSet="./images/icons/icon-subcription.svg" alt="side-item-logo").sidebar__item-link-img 
                span Subcription
    ul.sidebar__list
        li.sidebar__item
            a.sidebar__item-link(href="#")
                img(srcSet="./images/icons/icon-dashboard.svg" alt="side-item-logo").sidebar__item-link-img 
                span Dashboard
        li.sidebar__item
            a.sidebar__item-link(href="#")
                img(srcSet="./images/icons/icon-episodes.svg" alt="side-item-logo").sidebar__item-link-img 
                span Episodes
        li.sidebar__item
            a.sidebar__item-link(href="#")
                img(srcSet="./images/icons/icon-team.svg" alt="side-item-logo").sidebar__item-link-img 
                span Team
        li.sidebar__item
            a.sidebar__item-link(href="#")
                img(srcSet="./images/icons/icon-subcriber.svg" alt="side-item-logo").sidebar__item-link-img 
                span Subcribers 
    ul.sidebar__list
        li.sidebar__item
            a.sidebar__item-link(href="#")
                img(srcSet="./images/icons/icon-leader.svg" alt="side-item-logo").sidebar__item-link-img 
                span Leaderboard