@use "../../abstracts/" as Abstract;

.podcast {
    margin-bottom: 40px;
    
    &__heading {
        
    }

    &__list {
        --gap: 12px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--gap);
    }

    &__item {
        @include Abstract.rounded("rounded-1");
        overflow: hidden;

        &-img {
            aspect-ratio: 1;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 767.98px) {
    .podcast {
        &__list {
            --gap: 8px;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}