@use "../abstracts/" as Abstract;

.toggle {
    &-main {
        height: 17px;
        width: 30px;
        @include Abstract.rounded("rounded-pill");
        background-color: Abstract.$toggle-spinner;
        padding: 1.5px 2px;
        cursor: pointer;
        transition: all 0.2s linear;
    }
    input {
        display: none;

        &:checked + .toggle-main .toggle-spinner {
            transform: translateX(12px);
        }

        &:checked + .toggle-main {
            background-color: Abstract.$primary-color;
        }
    }
    &-spinner {
        @include Abstract.rounded("rounded-circle");
        background-color: white;
        width: 14px;
        aspect-ratio: 1;
        transition: all 0.2s linear;
    }
}

@media screen and (max-width: 1279.98px) {
    .toggle {
        &-main {
            height: 28px;
            width: 52px;
            padding: 4px;;
        }
        input {
            &:checked + .toggle-main .toggle-spinner {
                transform: translateX(24px);
            }
        }
        &-spinner {
            width: 20px;
        }
    }
}