.home-wrapper
    .home-left  
        .hosts
            .heading.hosts__heading Popular host
            ul.hosts__list
                li.hosts__item
                    .hosts__item-avt
                        img(srcSet="../../images/img-host-user.png 2x", alt="host-member-avt").hosts__item-avt-img
                    .hosts__item-name Thomas aslkjdklasjdklasjdklsajlkdjlkas
                li.hosts__item
                    .hosts__item-avt
                        img(srcSet="../../images/img-host-user.png 2x", alt="host-member-avt").hosts__item-avt-img
                    .hosts__item-name Thomas
                li.hosts__item
                    .hosts__item-avt
                        img(srcSet="../../images/img-host-user.png 2x", alt="host-member-avt").hosts__item-avt-img
                    .hosts__item-name Thomas
                li.hosts__item
                    .hosts__item-avt
                        img(srcSet="../../images/img-host-user.png 2x", alt="host-member-avt").hosts__item-avt-img
                    .hosts__item-name Thomas
                li.hosts__item
                    .hosts__item-avt
                        img(srcSet="../../images/img-host-user.png 2x", alt="host-member-avt").hosts__item-avt-img
                    .hosts__item-name Thomas
                li.hosts__item
                    .hosts__item-avt
                        img(srcSet="../../images/img-host-user.png 2x", alt="host-member-avt").hosts__item-avt-img
                    .hosts__item-name Thomas
                li.hosts__item
                    .hosts__item-avt
                        img(srcSet="../../images/img-host-user.png 2x", alt="host-member-avt").hosts__item-avt-img
                    .hosts__item-name Thomas
                li.hosts__item
                    .hosts__item-avt
                        img(srcSet="../../images/img-host-user.png 2x", alt="host-member-avt").hosts__item-avt-img
                    .hosts__item-name Thomas
        .trending
            .heading.trending__heading Trending 
            .trending__body
                .trending__body-title
                    span UX Design 
                    span Process: Mental Modeling Framework
                .trending__body-podcast Podcast Episode - 1
                .trending__body-author Thomas L. Fletcher 
                    span ( UI Designer at UIHUT )
                button.button.button--primary.trending__body-button 
                    .trending__body-button-icon 
                        span 
                            img(srcSet="../../images/icons/icon-playlist.svg", alt="")
                    span Play now
                .trending__vector 
                    img(srcSet="../../images/img-vector.png", alt="vector")
                .trending__man
                    img(srcSet="../../images/img-man.png", alt="img-man")
        .feed 
            .feed-header
                ul.feed-header__menu
                    li.feed-header__item.feed-header__item--active 
                        button My Feed 
                    li.feed-header__item
                        button Popular Feed
                    li.feed-header__item
                        button Recent
                .feed-header__right
                    label.toggle
                        input(type="checkbox")
                        .toggle-main 
                            .toggle-spinner 
                    .feed-header__right-desc New Releases & Guests Only
            .feed-list 
                .feed__item 
                    .feed__item-header
                        .feed__item-header-wrapper
                            .feed__item-header-avt 
                                img(srcSet="https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1452&q=80", alt="").feed__item-header-avt-img
                                .feed__item-header-avt-verify
                                    img(srcSet="../../images/icons/icon-verify.svg", alt="")
                            .feed__item-header-author
                                .feed__item-header-author-info
                                    a(href="#").feed__item-header-author-name James Killened
                                    .feed__item-header-author-desc rated an episude
                                    .feed__item-header-author-star 
                                        img(srcSet="../../images/icons/icon-star.svg", alt="")
                                        img(srcSet="../../images/icons/icon-star.svg", alt="")
                                        img(srcSet="../../images/icons/icon-star.svg", alt="")
                                        img(srcSet="../../images/icons/icon-star.svg", alt="")
                                        img(srcSet="../../images/icons/icon-star.svg", alt="")
                                .feed__item-header-author-date Jun 25th
                        .feed__item-header-btn 
                            button
                                img(srcSet="../../images/icons/icon-option-btn.svg", alt="")
                    .feed__item-body
                        .feed__item-body-img 
                            img(srcSet="https://images.unsplash.com/photo-1616588589676-62b3bd4ff6d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80", alt="")
                        .feed__item-body-wrapper 
                            .feed__item-body-title Perspective Podcast (Ep. 1)
                            h3.feed__item-body-subtitle Philosophy vs Religion vs Science: Yahia Amin and Sadman Sadik
                            .feed__item-body-desc Play Philosophy vs Religion vs Science: Perspective Podcast (Ep. 1) | Yahia Amin and Sadman Sadik by PERSPECTIVE with Yahia Amin on desktop and mobile. Play over 265 million tracks for...
                    .feed__item-footer
                        .feed__item-footer-action
                            button 
                                img(src="../../images/icons/icon-heart-empty.svg", alt="")
                            button 
                                img(src="../../images/icons/icon-star-empty.svg", alt="")
                            button 
                                img(src="../../images/icons/icon-camera.svg", alt="")
                        .feed__item-footer-btn 
                            button.button.button--primary 
                                img(srcSet="../../images/icons/icon-playlist.svg", alt="") 
                                span Play Episode
                .feed__item 
                    .feed__item-header
                        .feed__item-header-wrapper
                            .feed__item-header-avt 
                                img(srcSet="https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1452&q=80", alt="").feed__item-header-avt-img
                                .feed__item-header-avt-verify
                                    img(srcSet="../../images/icons/icon-verify.svg", alt="")
                            .feed__item-header-author
                                .feed__item-header-author-info
                                    a(href="#").feed__item-header-author-name James Killened
                                    .feed__item-header-author-desc rated an episude
                                    .feed__item-header-author-star 
                                        img(srcSet="../../images/icons/icon-star.svg", alt="")
                                        img(srcSet="../../images/icons/icon-star.svg", alt="")
                                        img(srcSet="../../images/icons/icon-star.svg", alt="")
                                        img(srcSet="../../images/icons/icon-star.svg", alt="")
                                        img(srcSet="../../images/icons/icon-star.svg", alt="")
                                .feed__item-header-author-date Jun 25th
                        .feed__item-header-btn 
                            button
                                img(srcSet="../../images/icons/icon-option-btn.svg", alt="")
                    .feed__item-body
                        .feed__item-body-img 
                            img(srcSet="https://images.unsplash.com/photo-1616588589676-62b3bd4ff6d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80", alt="")
                        .feed__item-body-wrapper 
                            .feed__item-body-title Perspective Podcast (Ep. 1)
                            h3.feed__item-body-subtitle Philosophy vs Religion vs Science: Yahia Amin and Sadman Sadik
                            .feed__item-body-desc Play Philosophy vs Religion vs Science: Perspective Podcast (Ep. 1) | Yahia Amin and Sadman Sadik by PERSPECTIVE with Yahia Amin on desktop and mobile. Play over 265 million tracks for...
                    .feed__item-footer
                        .feed__item-footer-action
                            button 
                                img(src="../../images/icons/icon-heart-empty.svg", alt="")
                            button 
                                img(src="../../images/icons/icon-star-empty.svg", alt="")
                            button 
                                img(src="../../images/icons/icon-camera.svg", alt="")
                        .feed__item-footer-btn 
                            button.button.button--primary 
                                img(srcSet="../../images/icons/icon-playlist.svg", alt="") 
                                span Play Episode
                .feed__item 
                    .feed__item-header
                        .feed__item-header-wrapper
                            .feed__item-header-avt 
                                img(srcSet="https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1452&q=80", alt="").feed__item-header-avt-img
                                .feed__item-header-avt-verify
                                    img(srcSet="../../images/icons/icon-verify.svg", alt="")
                            .feed__item-header-author
                                .feed__item-header-author-info
                                    a(href="#").feed__item-header-author-name James Killened
                                    .feed__item-header-author-desc rated an episude
                                    .feed__item-header-author-star 
                                        img(srcSet="../../images/icons/icon-star.svg", alt="")
                                        img(srcSet="../../images/icons/icon-star.svg", alt="")
                                        img(srcSet="../../images/icons/icon-star.svg", alt="")
                                        img(srcSet="../../images/icons/icon-star.svg", alt="")
                                        img(srcSet="../../images/icons/icon-star.svg", alt="")
                                .feed__item-header-author-date Jun 25th
                        .feed__item-header-btn 
                            button
                                img(srcSet="../../images/icons/icon-option-btn.svg", alt="")
                    .feed__item-body
                        .feed__item-body-img 
                            img(srcSet="https://images.unsplash.com/photo-1616588589676-62b3bd4ff6d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80", alt="")
                        .feed__item-body-wrapper 
                            .feed__item-body-title Perspective Podcast (Ep. 1)
                            h3.feed__item-body-subtitle Philosophy vs Religion vs Science: Yahia Amin and Sadman Sadik
                            .feed__item-body-desc Play Philosophy vs Religion vs Science: Perspective Podcast (Ep. 1) | Yahia Amin and Sadman Sadik by PERSPECTIVE with Yahia Amin on desktop and mobile. Play over 265 million tracks for...
                    .feed__item-footer
                        .feed__item-footer-action
                            button 
                                img(src="../../images/icons/icon-heart-empty.svg", alt="")
                            button 
                                img(src="../../images/icons/icon-star-empty.svg", alt="")
                            button 
                                img(src="../../images/icons/icon-camera.svg", alt="")
                        .feed__item-footer-btn 
                            button.button.button--primary 
                                img(srcSet="../../images/icons/icon-playlist.svg", alt="") 
                                span Play Episode
    .home-right
        .podcast
            .widget.podcast__heading
                .widget__heading.heading Top 8 Podcast
                a(href="#").widget__view-all View all   
            .podcast__list
                .podcast__item
                    img(srcSet="https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80", alt="podcast-img").podcast__item-img
                .podcast__item
                    img(srcSet="https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80", alt="podcast-img").podcast__item-img
                .podcast__item
                    img(srcSet="https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80", alt="podcast-img").podcast__item-img
                .podcast__item
                    img(srcSet="https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80", alt="podcast-img").podcast__item-img
                .podcast__item
                    img(srcSet="https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80", alt="podcast-img").podcast__item-img
                .podcast__item
                    img(srcSet="https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80", alt="podcast-img").podcast__item-img
                .podcast__item
                    img(srcSet="https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80", alt="podcast-img").podcast__item-img
                .podcast__item
                    img(srcSet="https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80", alt="podcast-img").podcast__item-img
        .follower 
            .widget
                .widget__heading.heading Suggested Follows
                a(href="#").widget__view-all View all   
            ul.follower__list 
                li.follower__item 
                    .follower__item-user
                        .follower__item-user-img
                            img(srcSet="https://images.unsplash.com/photo-1564564321837-a57b7070ac4f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1476&q=80", alt="")
                        .follower__item-user-info 
                            .follower__item-user-info-name Yahia Amin
                            a(href="#").follower__item-user-info-tag @yahiamdamin
                    button.button.button--outline-secondary Followed
                li.follower__item 
                    .follower__item-user
                        .follower__item-user-img
                            img(srcSet="https://images.unsplash.com/photo-1564564321837-a57b7070ac4f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1476&q=80", alt="")
                        .follower__item-user-info 
                            .follower__item-user-info-name Yahia Amin sldkjasldjkasjkldklajdkjaskljdklaskjld
                            a(href="#").follower__item-user-info-tag @yahiamdaminadasdad asdsadsadasds
                    button.button.button--primary Follow
                li.follower__item 
                    .follower__item-user
                        .follower__item-user-img
                            img(srcSet="https://images.unsplash.com/photo-1564564321837-a57b7070ac4f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1476&q=80", alt="")
                        .follower__item-user-info 
                            .follower__item-user-info-name Yahia Amin
                            a(href="#").follower__item-user-info-tag @yahiamdamin
                    button.button.button--primary Follow
        .listen-history
            .widget
                .widget__heading.heading Listening history
                a(href="#").widget__view-all View all
            ul.listen-history__list 
                li.listen-history__item
                    .listen-history__item-img
                        img(src="https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1452&q=80", alt="")
                    .listen-history__item-wrapper
                        .listen-history__item-title Don't Always Win Life Spring Don't Always Win LifeSpring Don't Always Win LifeSpring
                        .listen-history__item-func
                            .listen-history__item-func-view
                                img(srcSet="../../images/icons/icon-playlist.svg", alt="")
                                span 156
                            .listen-history__item-func-view
                                img(src="../../images/icons/icon-heart-empty.svg", alt="")
                                span 156
                li.listen-history__item
                    .listen-history__item-img
                        img(src="https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1452&q=80", alt="")
                    .listen-history__item-wrapper
                        .listen-history__item-title Don't Always Win LifeSpring
                        .listen-history__item-func
                            .listen-history__item-func-view
                                img(srcSet="../../images/icons/icon-playlist.svg", alt="")
                                span 156
                            .listen-history__item-func-view
                                img(src="../../images/icons/icon-heart-empty.svg", alt="")
                                span 156
                li.listen-history__item
                    .listen-history__item-img
                        img(src="https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1452&q=80", alt="")
                    .listen-history__item-wrapper
                        .listen-history__item-title Don't Always Win LifeSpring
                        .listen-history__item-func
                            .listen-history__item-func-view
                                img(srcSet="../../images/icons/icon-playlist.svg", alt="")
                                span 156
                            .listen-history__item-func-view
                                img(src="../../images/icons/icon-heart-empty.svg", alt="")
                                span 156
        .topic  
            .widget
                .widget__heading.heading Topics
                a(href="#").widget__view-all View all
            .topic__list 
                .topic__item
                    img(srcSet="https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80", alt="").topic__item-img
                    .topic__item-container
                        .topic__item-title 👫 Society and Culture
                        .topic__item-podcast 761k podcast
                .topic__item
                    img(srcSet="https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80", alt="").topic__item-img
                    .topic__item-container
                        .topic__item-title 👫 Society and Culture
                        .topic__item-podcast 761k podcast
                .topic__item
                    img(srcSet="https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80", alt="").topic__item-img
                    .topic__item-container
                        .topic__item-title 👫 Society and Culture
                        .topic__item-podcast 761k podcast
                .topic__item
                    img(srcSet="https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80", alt="").topic__item-img
                    .topic__item-container
                        .topic__item-title 👫 Society and Culture
                        .topic__item-podcast 761k podcast