@use "../abstracts/" as Abstract;

.sidebar {
    padding: 48px 30px;
    border-right: 1px solid Abstract.$sidebar-line;
    position: relative;

    &__close-btn {
        // display: none;
        position: absolute;
        top: 0;
        right: 0;
        padding: 16px;
        font-weight: 600;
        border: 1px solid Abstract.$sidebar-line;
        color: Abstract.$text-dark;
        @include Abstract.rounded("rounded-0");
        margin: 10px !important;
        transition: ease-in 0.2s;

        &:hover {
            background-color: red;
            color: Abstract.$text-white;
        } 
    }

    &__logo {
        display: block; 
        color: var(Abstract.$bg-color);
    
        &-img {
            max-width: 100%;
            display: block;
            margin-bottom: 44px;
        }
    }
    
    &__list {
        display: flex;
        flex-direction: column;
        gap: 6px;list-style: none;
        --gap: 26px;
    
        &:not(:last-child)::after {
            content: "";
            display: block;
            height: 1px;
            background-color: Abstract.$sidebar-line;
            margin-block: var(--gap);
        }
    }
    
    &__item {
    
    
        &-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            padding: 8px 30px 8px 20px;
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;
            border-radius: 12px;
            line-height: 1.5;
            color: Abstract.$gray-1;
            transition: ease-in 0.08s;

            &-img {
                width: 24px;
                height: 24px;
            }
        
            &:hover {
                background-color: Abstract.$primary-color;
                color: Abstract.$text-white;
            }
        }
    }
}

@media screen and (max-width: 1279.98px) {
    .sidebar {
        // when close sidebar
        width: 0px; 
        // when open sidebar
        // width: 250px
        height: 100%;
        position: fixed;
        z-index: 11;
        background-color: Abstract.$bg-menu;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        padding: 10px 0px;

        &__logo-img {
            margin-left: 20px;
            margin-bottom: 20px;
        }

        & > * {
            margin: 0 10px;
        }
    }
}



